<!doctype html>
      <html class="no-js" lang="{{ request.locale.iso_code }}">
        <head>
        </head>
        <body>
          {{ content_for_header }}
          {{ content_for_layout }}
        </body>
      </html>